@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding-bottom: 14vh;
}

.formContainer {
  width: 100%;
  display: grid;
  place-items: center;
}

label {
  font-size: 1.3rem;
}
.question {
  margin-top: 1.5em;
  text-align: center;
  width: 80vw;
  font-size: 1.6rem;
}

.newCardForm {
  width: 90vw;
  height: auto;
  background: var(--box-color);
  border-radius: 3rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* display: grid;
  place-items: center; */
  position: relative;
  box-shadow: var(--box-shadow);
  margin: 1rem;
  margin-top: 16vh;
}

.newCardContainer {
  width: 90vw;
  height: auto;
  background: var(--box-color);
  border-radius: 3rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* display: grid;
  place-items: center; */
  position: relative;
  box-shadow: var(--box-shadow);
  margin: 1rem;
}

.newCard {
  width: 90vw;
  height: auto;
  background: var(--box-color);
  border-radius: 3rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* display: grid;
  place-items: center; */
  position: relative;
}

.newAnswer {
  margin: 0;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: var(--font-color);
  font-weight: 500;

  width: 86%;
  text-align: center;

  transform: translateY(-10px); /* Starts slightly higher */
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
  /* height: 0;  */
  /* Keeps it from taking up space when hidden */
}

.tag {
  width: auto;
  height: auto;
  background-color: var(--tag-color);
  font-size: 0.8em;
  padding: 0.4em 1em 0.4em 1em;
  /* padding: 4px 10px 4px 10px; */
  border-radius: 5px;
  color: aliceblue;
  margin: 0 0 10px 10px;
}

[data-js="form"] {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  gap: 1rem; /* Adds nice spacing between inputs */
  width: 100%;
  margin-top: 1rem;
}

textarea,
input {
  width: 80%; /* Adjust this for how wide you want them */
  max-width: 400px; /* Keeps them from getting too huge on desktop */
  padding: 10px;
  border-radius: 8px;
  border: none;
}

form .btnSubmit {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 1rem 1.4rem 1.1rem 1.4rem;
  border-radius: 50px;
  /* background: var(--box-color); */
  background: linear-gradient(-35deg, #afcdcf 0%, #f1fff6db 100%);
  box-shadow:
    5px 5px 10px #517a773d,
    10px 15px 20px rgba(32, 60, 58, 0.2);

  margin: 1rem 0 2.5rem 0;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--tag-color);
  border: 0.1px solid var(--bookmark-color);
}

.btnShowAnswer {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(-35deg, #afcdcf 0%, #f1fff6db 100%);
  box-shadow:
    5px 5px 10px #517a773d,
    10px 15px 20px rgba(32, 60, 58, 0.2);

  color: var(--tag-color);
  border: 0.1px solid var(--bookmark-color);
  padding: 1em 1em 1.2em 1em;

  border-radius: 30px;
  cursor: pointer;
}

.btnShowAnswer:hover {
  transform: scale(1.04);

  box-shadow:
    5px 5px 12px #517a773d,
    10px 15px 20px rgba(32, 60, 58, 0.3);
}

.pink {
  opacity: 0.8;
}

.btnShowAnswer span {
  margin: 0.8em;
}

.btnShowAnswer:active {
  transform: scale(0.8); /* Shrinks slightly when clicked */
}
