@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0; */
  /* padding: 0; */

  padding-bottom: 14vh;
}

.questionBoxContainer {
  /* display: flex;

  justify-content: center; */
  width: 100%;
  display: grid;
  place-items: center;
}

.question {
  margin-top: 1.5em;
  text-align: center;
  width: 80vw;
  font-size: 1.6rem;
}

.questionBox {
  width: 90vw;
  height: auto;
  background: var(--box-color);
  border-radius: 3rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* display: grid;
  place-items: center; */
  position: relative;
  box-shadow: var(--box-shadow);
  margin: 1rem;
}

/* .questionBox.darkMode {
  box-shadow:
    -10px -10px 30px #293e3f7d,
    10px 10px 30px rgb(43 68 73 / 45%),
    inset -5px -5px 10px rgb(45 68 75 / 53%),
    inset 5px 5px 10px #83b9bc63 !important;
} */
.questionBox01 {
  margin-top: 16vh;
}

.iconBookmark {
  top: -0.5px;
  right: 2.7em;
  scale: 2;
  position: absolute;
  cursor: pointer;
}

.iconBookmark path {
  fill: var(--bookmark-color);
  stroke: #2a3e4196;
  stroke-width: 1;
  transition: fill 0.2s ease-in-out;
  box-shadow:
    -10px -10px 30px #3d5755d4,
    10px 10px 20px rgb(43 65 63 / 69%);
  /* box-shadow:
    -10px -10px 30px #293e3f7d,
    10px 10px 30px rgb(43 68 73 / 45%),
    inset -5px -5px 10px rgb(45 68 75 / 53%),
    inset 5px 5px 10px #83b9bc63 !important; */
}

/* .iconBookmark path:hover {
  fill: #c7e7de;
  transition: all 0.2s ease-in-out;
} */

.active path {
  fill: rgba(11, 32, 40, 0.914) !important;
}

.answer {
  /* max-height: 0; */
  margin: 0;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: var(--font-color);
  font-weight: 500;
  /* display: none; */
  width: 86%;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); /* Starts slightly higher */
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
  height: 0; /* Keeps it from taking up space when hidden */
  overflow: hidden;

  transition:
    opacity 0.3s ease-in-out,
    margin 0.3s ease-in-out;
}

.is-visible {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Slides down into place */
  height: auto; /* Warning: height: auto doesn't animate, see note below */
  margin: 1rem 0 2.8rem 0;
}

/* .answer.is-visible {
  display: flex;

} */

.btnShowAnswer {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(-35deg, #afcdcf 0%, #f1fff6db 100%);
  box-shadow:
    5px 5px 10px #517a773d,
    10px 15px 20px rgba(32, 60, 58, 0.2);

  color: var(--tag-color);
  border: 0.1px solid var(--bookmark-color);
  padding: 1em 1em 1.2em 1em;

  border-radius: 30px;
  cursor: pointer;
}

.btnShowAnswer:hover {
  transform: scale(1.04);

  box-shadow:
    5px 5px 12px #517a773d,
    10px 15px 20px rgba(32, 60, 58, 0.3);
}

.pink {
  opacity: 0.8;
}

.btnShowAnswer span {
  margin: 0.8em;
}

.btnShowAnswer:active {
  transform: scale(0.8); /* Shrinks slightly when clicked */
}

ul {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

.tagList {
  padding: 0; /* This removes that purple ghost space */

  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: flex-start;
  /* margin-top: auto;  */
  /* Pushes the list to the very bottom of the card*/
}

.tagList li {
  width: auto;
  height: auto;
  background-color: var(--tag-color);
  font-size: 0.8em;
  padding: 0.4em 1em 0.4em 1em;
  /* padding: 4px 10px 4px 10px; */
  border-radius: 5px;
  color: aliceblue;
  margin: 0 0 10px 10px;
}
