@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import url("bookmark.css");
@import url("home.css");
@import url("profile.css");
@import url("add.css");

@keyframes pageFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-content,
.mainContainer {
  animation: pageFadeIn 0.6s ease-out forwards;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

:root {
  --box-color: rgb(201, 241, 241);
  --font-color: rgb(8, 17, 17);
  --bg-color: rgb(165 213 213);
}

.darkMode {
  --bg-color: rgb(21, 55, 65);
  --box-color: rgb(32 87 93);
  --font-color: rgb(236, 255, 255);
}

.site-nav {
  background-color: rgb(81, 162, 162);
  position: fixed;
  width: 100vw;
  height: 11vh;
  border-radius: 0 0 20px 20px;
  z-index: 999;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

span {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  background-color: rgb(95, 187, 187);
  border-radius: 20px 20px 0 0;
}

.navBar {
  padding: 0; /* This removes that purple ghost space */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navBar li {
  scale: 1.7;
}
