@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import url("bookmark.css");
@import url("home.css");
@import url("profile.css");
@import url("add.css");

@keyframes pageFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-content,
.mainContainer {
  animation: pageFadeIn 0.6s ease-out forwards;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background: var(--bg-color);
  background-size: 180% 180%;
  color: var(--font-color);
  animation: gradient-animation 18s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --box-color: linear-gradient(-35deg, #8bc8c833 0%, #e9fffe33 100%);
  --font-color: rgb(8, 17, 17);

  --tag-color: rgb(18 49 60);

  --bg-color: linear-gradient(
    90deg,
    rgba(213, 245, 219, 1) 1%,
    rgba(195, 219, 217, 1) 50%,
    rgba(222, 250, 212, 1) 100%
  );
  --tag-color: rgb(18 49 60);
  --bookmark-color: #d1f0ef;
  --font2-color: rgb(18 49 60);
  --font3-color: rgb(255, 255, 255);
  --box-shadow: -10px -10px 30px #e4fde9, 10px 10px 30px rgb(117 169 164 / 60%);
  --box-shadow-footer:
    5px -10px 20px #e4fde980, 10px 10px 20px rgb(25 61 58 / 60%),
    inset -6px -4px 10px rgb(82 82 115 / 20%), inset 2px 2px 10px #ffffffdf;
}

.darkMode {
  --bg-color: radial-gradient(
    circle,
    rgba(53, 71, 66, 1) 0%,
    rgba(64, 86, 92, 1) 49%,
    rgba(21, 35, 38, 1) 100%
  );
  /* --box-color: rgb(32 87 93); */
  --box-color: radial-gradient(
    circle,
    rgb(89 133 127 / 18%) 0%,
    #374c4f0b 49%,
    rgb(46 86 93 / 33%) 100%
  );

  --box-shadow:
    -10px -10px 20px #517a773d, 10px 15px 20px rgba(14, 27, 26, 0.1);
  --bookmark-color: #374c4f;
  stroke: #5f978ccc;
  --font-color: rgb(236, 255, 255);
  --font2-color: rgb(207, 243, 243);
  --box-shadow-footer:
    -10px -10px 20px #517a773d, 10px 15px 20px rgba(14, 27, 26, 0.1),
    inset -6px -4px 10px rgb(33 53 58 / 65%), inset 2px 1px 10px #587b86e0;
}

.site-nav {
  /* padding: 0.7rem 0 0.7rem 0; */
  position: fixed;
  width: 100vw;
  height: auto;
  border-radius: 0 0 20px 20px;
  z-index: 999;

  /* background-color: rgba(117, 219, 219, 0.75); */
  border-radius: 0 0 50px 50px;
  backdrop-filter: blur(10px); /* The blur effect */
}

.main-title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: var(--font-color);
  font-weight: 400;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

span {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

footer {
  position: fixed;
  bottom: 1px;
  width: 98vw;
  height: 10vh;
  /* background-color: rgba(95, 187, 187, 0.75); */
  border-radius: 50px;
  backdrop-filter: blur(10px); /* The blur effect */

  left: 50%;
  transform: translateX(-50%);
}

.navBar {
  padding: 0; /* This removes that purple ghost space */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 110%;
}

.navBar li {
  scale: 1.5;
}
.navBar li:hover {
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}

.pageBookmarks .navBarBookmarks,
.pageProfile .navBarProfile,
.pageHome .navBarHome,
.pageAdd .navBarAdd {
  filter: invert(1);
}

.frosted {
  /* background: rgba(215, 240, 215, 0.37); */
  background: linear-gradient(-35deg, #141b211a 0%, #21302f1f 100%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(12.2px);
  /* border: 0.2px solid rgba(255, 255, 255, 0.319); */

  box-shadow: var(--box-shadow-footer);
  /* -10px -10px 30px #ffffff,
    10px 10px 30px rgba(174, 174, 192, 0.4),
    inset -10px -10px 10px rgba(174, 174, 192, 0.25),
    inset 10px 10px 10px #ffffff; */

  /* box-shadow:
    -10px -10px 30px #293e3f7d,
    10px 10px 30px rgb(43 68 73 / 45%),
    inset -5px -5px 10px rgb(45 68 75 / 53%),
    inset 5px 5px 10px #83b9bc63 !important; */
}
